{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card border-0 shadow rounded-lg p-4 mt-5" style="background-color: #f8f9fa;">
                <h1 style="color:#279251" class="card-title text-center mb-4">{% trans "Sign In" %}</h1>

                {% get_providers as socialaccount_providers %}
                
                {% if socialaccount_providers %}
                <p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third-party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below.{% endblocktrans %}</p>
                
                <div class="socialaccount_ballot text-center">
                
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                
                    <div class="login-or my-4">{% trans 'or' %}</div>
                
                </div>
                
                {% include "socialaccount/snippets/login_extra.html" %}
                
                {% else %}
                <p class="text-center">{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}  
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-12">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="card border-0 shadow rounded-lg p-4" style="background-color: #f8f9fa;">
                    <div class="card-body">
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="text-center mt-3">
                            <a class="btn btn-link text-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            <button class="order-button btn-block mt-3" type="submit">{% trans "Sign In" %}</button>
                            <a class="order-button btn-block mt-3" href="{% url 'index' %}">{% trans "Back" %}</a>
                        </div>
                       
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
