{% extends 'customerview/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolore sequi optio voluptates veniam aliquam vero accusamus 
                cumque delectus! At sapiente nam assumenda voluptatem quibusdam accusantium ut odio amet inventore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error recusandae iusto quos fugiat nihil maxime quae, 
                quasi dolorem accusantium, maiores officiis eos magni ab debitis culpa enim blanditiis? Eius, fugit?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eos, voluptas quod laudantium doloremque atque ullam, ducimus quisquam nesciunt sit suscipit hic. 
                Nemo in dolore ea exercitationem vero odit qui?</p>
        </div>
    </div>
</div>
{% endblock content %}