{% extends 'customerview/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Welcome to Yum!</h1>
        <p>Discover the culinary wonders of Yum, where every bite tells a story and every meal is an adventure. At Yum, we're on a mission to redefine your dining experience, one delicious dish at a time.</p>

        <h2>Our Journey:</h2>
        <p>Yum was born from a shared love for extraordinary food and the desire to make it accessible to everyone, anytime, anywhere. We believe that food is not just nourishment for the body, but also nourishment for the soul.</p>

        <h2>What Makes Us Special:</h2>
        <p><span class="highlight">Exquisite Selection:</span> Indulge in a curated collection of culinary delights, meticulously selected from the finest restaurants and chefs in your area.</p>
        <p><span class="highlight">Effortless Ordering:</span> Our user-friendly platform makes ordering your favorite meals a breeze. With just a few clicks, you can browse menus, customize your order, and sit back while we handle the rest.</p>
        <p><span class="highlight">Quality Assurance:</span> We're committed to delivering excellence with every bite. Our partner restaurants adhere to strict standards of quality, freshness, and taste, ensuring that your dining experience is nothing short of exceptional.</p>
        <p><span class="highlight">Personalized Service:</span> Your satisfaction is our priority. Whether you have dietary preferences, special requests, or simply need assistance, our dedicated team is here to ensure that every aspect of your experience is tailored to your needs.</p>
        <p><span class="highlight">Community-Centric Approach:</span> Beyond food, Yum is about fostering connections and building community. Join us in celebrating the joy of good food and shared experiences.</p>

        <p>Join the Yum family today and embark on a gastronomic journey unlike any other. Whether you're craving comfort classics, exploring exotic flavors, or seeking healthier options, Yum has something to tantalize your taste buds.</p>

        <p>Thank you for choosing Yum – where every meal is a celebration!</p>
        </div>
    </div>
</div>
{% endblock content %}