
<!-- Remove the container if you want to extend the Footer to full width. -->


<style>
    footer{
        margin-top: 100px;
    }
        
</style>

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color: #279251"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="https://www.facebook.com/" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://google.com/" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="https://instagram.com/" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/feed/" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Yum</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #279251; height: 2px"
                  />
              <p>
                Yum is your ultimate online food ordering destination. Enjoy tasty meals from top local restaurants, delivered fast to your door. Satisfaction guaranteed, every bite, every order.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">For Restaurants</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #279251; height: 2px"
                  />
                {% if user.is_authenticated %}
              <p>
                <a class=" text-dark" data-url="{% url 'dashboard' %}">Dashboard</a>
                </p>
                <p class="nav-item">
                <a class="text-dark nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </p>
                {% endif %}
                {% if not user.is_authenticated %}
                <p class="nav-item">
                <a class="text-dark nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </p>
                {% endif %}
              
            </div>

            










            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #279251; height: 2px"
                  />
              <p>
                <a data-url="{% url 'restaurants' %}" class="text-dark">Restaurants</a>
              </p>
              <p>
                <a data-url="{% url 'contact' %}" class="text-dark">Work with us</a>
              </p>
              <p>
                <a data-url="{% url 'about' %}"  class="text-dark">About Us</a>
              </p>
              <p>
                <a data-url="{% url 'contact' %}"  class="text-dark">Contact</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #279251; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> 123 Main Street, 123 45, Dublin

              </p>
              <p><i class="fas fa-envelope mr-3"></i> contact@yum.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-dark" href=""
           >Yum</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

  <script>
    // JavaScript för att hantera klickhändelser
    const navLinks = document.querySelectorAll('.nav-link');
  
    navLinks.forEach(link => {
      link.addEventListener('click', function() {
        // Ta bort "active" klass från alla länkar
        navLinks.forEach(link => {
          link.classList.remove('active');
        });
  
        // Lägg till "active" klass till den klickade länken
        this.classList.add('active');
      });
    });
  </script>
  
  <script>
      document.addEventListener('click', function(event) {
          if (event.target.classList.contains('button', 'a')) {
              var url = event.target.getAttribute('data-url');
              if (url) {
                  window.location.href = url;
              }
          }
      });
      
  
  
    
      document.addEventListener('click', function(event) {
        const clickedElement = event.target;
        const url = clickedElement.getAttribute('data-url');
        
        if (url) {
            window.location.href = url;
        }
  });
  
  </script>