{% extends 'customerview/base.html' %}

{% block content %}


<!-- Hero section with call to action -->
<div class="hero-section">
    <div class="hero-content pt-1 mt-5">
        <p class="open-sans">Order from your favorite restaurants and enjoy delicious meals delivered to your doorstep.</p>
        <a href="{% url 'order' %}" class="button">Order Now</a>
    </div>
</div>
<!-- Featured restaurants section explaining the service workflow -->
<div class="featured-restaurants">
    <div class="container">
        <h2 class="mb-4">So how does it work?</h2>
        <p>Welcome to our innovative food delivery app, where convenience meets variety! Say goodbye to the hassle of choosing from individual restaurant menus. With us, you can effortlessly mix and match your favorite meals, whether it's pizza, sushi, or anything in between, all in one seamless order. Our unique combined menu feature lets you customize your meal experience without the limitations of a single restaurant's offerings.</p><p> Simply browse our extensive menu, select the dishes you're craving, and place your order. Our team will handle the rest, ensuring your deliciously diverse meal is delivered directly to you in no time. Enjoy the ultimate in dining convenience and variety with us!</p>
        <div class="row">
            <!-- Individual restaurant cards with images and descriptions -->
            <div class="col-md-4 mb-4">
                <div class="card restaurant-card">
                    <!-- Image and content for each card -->
                    <img src="https://res.cloudinary.com/dt4sw7qtl/image/upload/v1708899841/z7yxztocw4acm1izk6gi.jpg" class="card-img-top" alt="ordering image">
                    <div class="card-body">
                        <h3>Browse the Menu</h3>
                        <p>Discover a wide range of delicious dishes. Browse through menus, read descriptions, and select your favorites with ease.</p>
                        <a href="{% url 'menu' %}" class="button">View Menu</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card restaurant-card">
                    <img src="https://res.cloudinary.com/dt4sw7qtl/image/upload/v1708899849/a4gzy4z2vbdgpznsjf9y.jpg" class="card-img-top" alt="payment image">
                    <div class="card-body">
                        <h3>Place your order</h3>
                        <p>Ready to feast? Simply place your order, and choose your payment method. Sit back and relax while we prepare your meal for delivery.</p>
                        
                        
                        <a href="{% url 'order' %}" class="button">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card restaurant-card">
                    <img src="https://res.cloudinary.com/dt4sw7qtl/image/upload/v1708899799/pmhr28vuugtjogjuqbvd.jpg" class="card-img-top" alt="delivery man image">
                    <div class="card-body">
                        <h3>Wait and enjoy</h3>
                        <p>Order placed? Check. Payment done? Check. Now, just sit tight and get ready to enjoy your meal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
