
<style>

 

  .button {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 6px 15px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #279251;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #279251;
  border-radius: 15px;
  box-shadow: inset 0 0 0 0 #279251;
}

.button:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #279251;
}

.button:active {
  transform: scale(0.9);
}

.order-button {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 6px 15px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: #279251; /* Green Background */
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #279251; /* Green Border */
  border-radius: 15px;
  box-shadow: inset 0 0 0 0 #279251;
}
.navbar {
  box-shadow: 0px 25px 41px -22px rgba(0,0,0,0.75);
}
.nav-item{
  border-radius: 2px solid #279251;
 }

 

</style>


<nav class="navbar navbar-expand-lg navbar-dark pl-5 pr-5" style="background-color: #279251;">
  <a class="navbar-brand" href="{% url 'index' %}">
      <img src="https://res.cloudinary.com/dt4sw7qtl/image/upload/v1708904378/dcppuxqoq8hrmmw1nlj6.png" alt="Yum logo" height="35px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-text ml-auto d-none d-lg-block">
      <p class="mb-0">
          <i class="far fa-map" style="color:#ffffff;"></i> Visit us at: <span style="color:#ffffff;">123 Main Street, 123 45, Dublin</span>
      </p>
  </div>
      <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order' %}">Place an order</a>
          </li>

          
          <!-- Move these options inside the toggleable navbar -->
          <li class="nav-item d-lg-none">
              <a class="nav-link" href="{% url 'restaurants' %}">Restaurants</a>
          </li>
          <li class="nav-item d-lg-none">
              <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          <li class="nav-item d-lg-none">
              <a class="nav-link" href="{% url 'contact' %}">Work With us</a>
          </li>
          
          
      </ul>
      <ul class="navbar-nav">
        
          <li class="nav-item">
              <a class="nav-link" href="{% url 'cart' %}">
                  <i class="fas fa-shopping-cart" style="color: #ffffff; font-size: 22px;"></i>
              </a>
          </li>
          <!-- Place an order link remains in the larger navbar -->
          
      </ul>
  </div>
  <!-- Visit us at remains visible only on larger screens -->
  
</nav>
<div class="navbar navbarbot navbar-dark pt-0 pb-0 pl-5 d-none d-lg-flex">
  <a data-url="{% url 'restaurants' %}" class="nav-link ml-5 mr-5">Restaurants</a>
  <a data-url="{% url 'menu' %}" class="nav-link mr-5">Menu</a>
  <a data-url="{% url 'contact' %}" class="nav-link mr-auto">Work With us</a>
</div>






  <style>
    /* CSS för att styla navbar och effekter */
    .navbarbot {
      background-color: #ffffff;
      overflow: hidden;
    }

    .navbarbot a {
      float: left; /* Change float to left */
      display: block;
      color: #279251;
      text-align: left;
      padding: 14px 20px;
      text-decoration: none;
      transition: border-bottom 0.3s ease;
      border-bottom: 4px solid transparent;
}


    .navbarbot a:hover {
      border-bottom: 4px solid #279251;
      
    }

    .active {
      border-bottom: 4px solid #279251;
    }
  </style>
</head>
<body>



<script>
  // JavaScript för att hantera klickhändelser
  const navLinks = document.querySelectorAll('.nav-link');

  navLinks.forEach(link => {
    link.addEventListener('click', function() {
      // Ta bort "active" klass från alla länkar
      navLinks.forEach(link => {
        link.classList.remove('active');
      });

      // Lägg till "active" klass till den klickade länken
      this.classList.add('active');
    });
  });
</script>

<script>
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('button', 'a')) {
            var url = event.target.getAttribute('data-url');
            if (url) {
                window.location.href = url;
            }
        }
    });
    


  
    document.addEventListener('click', function(event) {
      const clickedElement = event.target;
      const url = clickedElement.getAttribute('data-url');
      
      if (url) {
          window.location.href = url;
      }
});

</script>


