{% extends 'customerview/base.html' %}

{% block content %}
<head>
<!-- Styling for the confirmation page -->
<style>
  /* Gradient background for the entire page */
  .gradient-custom {
background: #1d8f12;
background: -webkit-linear-gradient(to top left, rgb(156, 242, 163, 1), rgb(243, 255, 245, 1));
background: linear-gradient(to top left, rgb(147, 189, 149, 1), rgb(153, 231, 153, 1));
}

.card-header{
  color:#279251;
}

.card-header > h5{
  color: black;
}

.confirmation-text {
  font-size: 16px;
  color: #444;
}

</style>
</head>
<!-- Main section of the confirmation page -->
<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <!-- Card header with thank you message -->
          <div class="card-header px-4 py-5">
            <h5 class="text mb-0 ">Thank you for your Order!</h5>
          </div>
          <!-- Card body with order details and receipt information -->
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #279251;">Receipt</p>
              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
            </div>
            
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <!-- Iterates over each item in the order -->
                {% for item in items.all %}
                <div class="row">
                  <div class="col-md-2">
                    <img src="{{ item.image.url }}"
                      class="img-fluid" alt="{{ item.name }}">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{ item.name }}</p>
                  </div>
                  
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"></p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: 1</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">${{ item.price }}</p>
                  </div>
                </div>
                {% endfor %}
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                    <p class="text-muted mb-0 small">Track Order</p>
                  </div>
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 65%; border-radius: 16px; background-color: #279251;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-around mb-1">
                      <p class="confirmation-text pt-1" id="countdown"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total </span>${{ price }}</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0" id="currentDateTime"></p>
              
            </div>

            <div class="d-flex justify-content-between mb-5">
              <p class="text-muted mb-0">Voucher : FREE-DELIVERY</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges:</span> Free</p>
            </div>
          </div>
          <div class="card-footer border-0 px-4 py-5 text-white text-center"
          style="background-color: #ffffff; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
          <p class="text-muted mb-4">If you wish to pay with PayPal, please click the button below</p>
          <div id="paypal-button"></div>
          <p class="text-muted mt-2">If you prefer to pay with cash upon delivery, simply wait for our delivery team to arrive!</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- PayPal button script and additional instructions -->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
const csrftoken = getCookie('csrftoken');

paypal.Button.render({
  // Configure environment
  env: 'sandbox',
  client: {
    sandbox: 'AV3qBTLlwWMwK82HOvqInjlhNXL6LX7-QSe7OYQEpVGvcUl16afIFCz7tVbgaLUbw9yzAIh_QVLGCoCC',
    production: 'demo_production_client_id'
  },
  // Customize button (optional)
  locale: 'en_US',
  style: {
    size: 'large',
    color: 'black',
    shape: 'rect',
  },
  // Enable Pay Now checkout flow (optional)
  commit: true,
  // Set up a payment
  payment: function(data, actions) {
    return actions.payment.create({
      transactions: [{
        amount: {
          total: '{{ price }}',
          currency: 'USD'
        }
      }]
    });
  },
  // Execute the payment
  onAuthorize: function(data, actions) {
    return actions.payment.execute().then(function() {
      // Show a confirmation message to the buyer
      $.ajax({
        type: 'POST',
        url: "{% url 'order-confirmation' pk %}",
        beforeSend: function(request) {
          request.setRequestHeader('X-CSRFToken', csrftoken)
        },
        data: JSON.stringify({'isPaid': true}),
        success: function(data) {
          window.location.href = '/payment-confirmation/'
        }
      })
    });
  }
}, '#paypal-button');

// Set the target time to 45 minutes from now
var targetTime = new Date();
targetTime.setMinutes(targetTime.getMinutes() + 45);

// Update the countdown every second
var countdownInterval = setInterval(function() {
  // Get the current time
  var currentTime = new Date().getTime();

  // Calculate the remaining time
  var distance = targetTime - currentTime;

  // Calculate minutes and seconds
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the countdown in the element with id="countdown"
  document.getElementById("countdown").innerHTML = "Time remaining: " + minutes + "m " + seconds + "s ";

  // If the countdown is over, display a message
  if (distance < 0) {
    clearInterval(countdownInterval);
    document.getElementById("countdown").innerHTML = "Countdown expired!";
  }
}, 1000); // Update every second (1000 milliseconds)


  // Get the current date and time
  var currentDate = new Date();

  // Format the date and time as a string
  var formattedDate = currentDate.toLocaleString();

  // Display the formatted date and time in the HTML element
  document.getElementById("currentDateTime").textContent = "Invoice Date:  " +  formattedDate;

</script>


{% endblock content %}
