{% extends 'customerview/base.html' %}

{% block content %}
 <style>

    h3, .form-check, .price{
        color:#279251;
    }

    .active{
        border-bottom: none;
    }

 </style>

<div class="container mb-5">
    
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    <h1 style="color:#279251;">Order</h1>
                    <p>Mixing it up for mealtime? No sweat! Choose from different menus, all in one order. We'll take care of the rest, making sure your cravings are satisfied hassle-free. Say goodbye to the hassle of juggling multiple orders and hello to easy, diverse dining!</p>
                    <!-- Repeats the section for all categories like Sandwiches, Salads, etc. -->
                    <!-- Each section includes a heading, iterates through items, and displays them -->
                    <h3 class="mt-5">Appetizers</h3>
                    {% for app in appetizers %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ app.price }}</p>
                            </div>
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    <h3 class="mt-5">Sandwiches</h3>
                    {% for sandwich in sandwiches %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ sandwich.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ sandwich.pk }}">
                                    <label class="form-check-label">{{ sandwich.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ sandwich.price }}</p>
                            </div>
                            <p>{{ sandwich.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                
                <div class="pt-5">
                    <h3 class="mt-5">Salads</h3>
                    {% for salad in salads %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ salad.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ salad.pk }}">
                                    <label class="form-check-label">{{ salad.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ salad.price }}</p>
                            </div>
                            <p>{{ salad.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                
                <div class="pt-5">
                    <h3 class="mt-5">Burgers</h3>
                    {% for burger in burgers %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ burger.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ burger.pk }}">
                                    <label class="form-check-label">{{ burger.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ burger.price }}</p>
                            </div>
                            <p>{{ burger.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                
                <div class="pt-5">
                    <h3 class="mt-5">Sushi</h3>
                    {% for sushi_item in sushi %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ sushi_item.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ sushi_item.pk }}">
                                    <label class="form-check-label">{{ sushi_item.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ sushi_item.price }}</p>
                            </div>
                            <p>{{ sushi_item.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                
                <div class="pt-5">
                    <h3 class="mt-5">Pasta</h3>
                    {% for pasta_item in pasta %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ pasta_item.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ pasta_item.pk }}">
                                    <label class="form-check-label">{{ pasta_item.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ pasta_item.price }}</p>
                            </div>
                            <p>{{ pasta_item.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                
                <div class="pt-5">
                    <h3 class="mt-5">Pizza</h3>
                    {% for pizza_item in pizza %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ pizza_item.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ pizza_item.pk }}">
                                    <label class="form-check-label">{{ pizza_item.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ pizza_item.price }}</p>
                            </div>
                            <p>{{ pizza_item.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                

                

                <div class="pt-5">
                    <h3 class="mt-5">Dessert</h3>
                    {% for dessert in desserts %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                    <label class="form-check-label">{{ dessert.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ dessert.price }}</p>
                            </div>
                            <p>{{ dessert.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    <h3 class="mt-5">Drinks</h3>
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5 price">{{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name">
                </div>

                <div class="form-group pt-3">
                    <label for="name">Email Address</label>
                    <input required class="form-control" type="text" placeholder="example@example.com" name="email">
                </div>

                <div class="form-group pt-3">
                    <label for="name">Street Address</label>
                    <input required class="form-control" type="text" placeholder="123 Main St" name="street">
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                
                        <div class="form-group pt-3">
                            <label for="name">City</label>
                            <input required class="form-control" type="text" placeholder="Dublin" name="city">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Phone Number</label>
                            <input required class="form-control" type="text" placeholder="Phone" name="phone_number">
                        </div>
                    </div> 
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Zip Code</label>
                            <input required class="form-control" type="text" placeholder="94117" name="zip">
                        </div>
                    </div>
                </div>


                <button type="button" class="btn btn-green" data-toggle="modal" data-target="#submitModal">
                    Submit Order!
                </button>

                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light-green" data-dismiss="modal">Go Back</button>
                          <button type="submit" class="btn btn-green">Place Order!</button>
                        </div>
                      </div>
                    </div>
                  </div>
  
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}