{% extends 'customerview/base.html' %}

{% block content %}
<div class="vh-100">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            {% if user.is_authenticated %}
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.get_full_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Street</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">447 Broadway, 2nd Floor Suite #311</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="text-center">
                <a href="{% url 'account_change_password' %}" class="btn btn-outline-primary btn-rounded">Update Profile</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="text-center">
                <a href="{% url 'account_logout' %}" class="btn btn-primary btn-rounded">
                  Log Out</a>
              </div>
            </div>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-lg btn-block btn-outline-primary btn-rounded">
              Sign In <i class="fas fa-sign-in-alt"></i></a>
            <hr class="hr hr-blurry">
            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-primary btn-rounded">
              Sign Up <i class="fas fa-user-plus"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}