{% extends 'customerview/base.html' %}

{% block content %}

{% for restaurant in restaurants %}
<div class="container pt-5 pb-5">
    <div class="card">
        <img src="{{ restaurant.image.url }}" class="card-img-top" alt="restaurants image">
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
            <i class="far fa-heart"></i>
            <p class="card-text">{{ restaurant.description }}</p>
            <a href="{% url 'menu' %}" class="btn btn-primary btn-rounded">See Menu</a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}