{% extends 'customerview/base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-12 text-center mb-5">
            <h1 style="color:#279251">Our Restaurants</h1>
            <p>Craving your favorite meal? No matter where it's from, just place your order and leave the rest to us. We're here to ensure your dining desires are met, seamlessly delivering the taste you love right to your doorstep. Sit back, relax, and get ready to enjoy – we've got everything covered.</p>
        </div>
    </div>
    <!-- Row to display restaurants dynamically -->
    <div class="row">
        {% for restaurant in restaurants %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/dt4sw7qtl/image/upload/v1708899918/jcicjzcojdguliequsdw.webp"
                    alt="{{ item.name }}">

                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <div class="rating">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <p class="card-text">{{ restaurant.description }}</p>
                    <a href="{% url 'menu' %}" class="b">See Menu</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

