{% extends 'customerview/base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        {% for restaurant in restaurants %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <img src="/media/restaurantlogos/LOGOdefault.jpg" class="card-img-top" alt="{{ restaurant.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <div class="rating">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <p class="card-text">{{ restaurant.description }}</p>
                    <a href="{% url 'menu' %}" class="b">See Menu</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
