{% extends 'restaurantview/base.html' %}

{% block content %}

<style>
    th, h3{
        color:#279251;
    }
</style>

<div class="container pt-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Edit Menu</h3>

            <div class="table-responsive table mt-2" role="grid">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in menu_items %}
                        <tr>
                            <th>{{ item.pk }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td><a href="{% url 'edit-item' item.pk %}"><i class="fas fa-edit"></i></a></td>
                            <td><a href="{% url 'delete-item' item.pk %}"><i class="fas fa-trash-alt" style="color: #ff5842" onclick="return confirm('Are you sure you want to delete?')"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}