{% extends 'restaurantview/base.html' %}

{% block content %}

    <style>
        .card-body a, h3{
            color: #279251;
        }

        .active{
            border-bottom: none;
        }
    </style>

<div class="container pt-3">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'edit-menu' %}">Go Back</a>
            <h3 class="card-title text-center">Edit Items</h3>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible {{ message.tags }} text-center" id="msg">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="order-button value="Update Item">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
