

<nav class="navbar navbar-expand-lg navbar-dark pl-5 pr-5" style="background-color: #279251;">
  <a class="navbar-brand" href="{% url 'index' %}">
      <img src="https://res.cloudinary.com/dt4sw7qtl/image/upload/v1708904378/dcppuxqoq8hrmmw1nlj6.png" alt="Yum logo" height="35">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-text ml-auto d-none d-lg-block">
      <p class="mb-0">
          <i class="far fa-map" style="color:#ffffff;"></i> Visit us at: <span style="color:#ffffff;">123 Main Street, 123 45, Dublin</span>
      </p>
  </div>
      <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>

          
          <!-- Move these options inside the toggleable navbar -->
          
          <li class="nav-item d-lg-none">
              <a class="nav-link" href="{% url 'add-menu' %}">Add To Menu</a>
          </li>
          <li class="nav-item d-lg-none">
              <a class="nav-link" href="{% url 'edit-menu' %}">Edit Menu</a>
          </li>
          
          <li class="nav-item d-lg-none">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item d-none d-lg-block">
            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% endif %}

          
      </ul>
  </div>

  
</nav>
{% if user.is_authenticated %}
<div class="navbar navbarbot navbar-dark pt-0 pb-0 pl-5 d-none d-lg-flex">
  <a data-url="{% url 'add-menu' %}" class="nav-link ml-5 mr-5">Add To Menu</a>
  <a data-url="{% url 'edit-menu' %}" class="nav-link mr-5">Edit Menu</a>
</div>
{% endif %}



<script>
  // JavaScript för att hantera klickhändelser
  const navLinks = document.querySelectorAll('.nav-link');

  navLinks.forEach(link => {
    link.addEventListener('click', function() {
      // Ta bort "active" klass från alla länkar
      navLinks.forEach(link => {
        link.classList.remove('active');
      });

      // Lägg till "active" klass till den klickade länken
      this.classList.add('active');
    });
  });
</script>

<script>
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('button', 'a')) {
            var url = event.target.getAttribute('data-url');
            if (url) {
                window.location.href = url;
            }
        }
    });
    


  
    document.addEventListener('click', function(event) {
      const clickedElement = event.target;
      const url = clickedElement.getAttribute('data-url');
      
      if (url) {
          window.location.href = url;
      }
});

</script>




